<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ titulo }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
    class="max-w-56"
  />
  <mat-card-content>
    <p>
      {{ descricao }}
      {{ numeros[0] }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="mr-8">LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

@for (item of pessoas; track item; let i = $index) {
<pre>
  {{ item | json }}
</pre>
}

<div class="my-4">
  <button
    [ngClass]="{ 'botao-ativo': botaoAtivo }"
    (click)="botaoAtivo = !botaoAtivo"
  >
    Clique aqui
  </button>
</div>

<button [ngStyle]="{ 'font-size': fontSize + 'px' }" class="mb-4">
  NgStyle Example
</button>

<div class="mb-2">
  <p>{{ hoje }}</p>
  <p>{{ hoje | date }}</p>
  <p>{{ hoje | date : "short" }}</p>
  <p>{{ hoje | date : "dd/MM/YYYY" }}</p>
</div>

<div>
  <p>{{ descricao | uppercase }}</p>
</div>
